.blue{
  color: #04bced;
}
.yellow{
  color: #fcb100;
}
.center{
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}
.dib{
  display: inline-block;
}
.mt50{
  margin-top: 50px;
}
.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.margin-auto{
      margin: 0 auto;
}
